@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

header {
    background: rgba(24, 24, 24, 0.83);
    font-family: cursive, 'ZCOOL KuaiLe', 'Times New Roman';
    color: white;
    width: 100%;
    font-size: 60px;
    text-align: right;
}