main .table_section {
    position: absolute;
    top: 60%;
    left: 5%;
}

main .table_section #cleaner {
    position: relative;
    margin: 2%;
    left: 40%;
}

main .table_section #cleaner input {
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.83);
    width: 170px;
    height: 40px;
}

main .table_section #table {
    position: relative;
    top: 2%;
    /*left: 4%;*/
    width: 900px;
    border: 1px solid black;
}

#table tr:first-of-type {
    background: rgba(0, 0, 0, 0.83);
}

#table td, th {
    padding: 3px;
}