main .user_input svg {
    stroke: rgba(175, 175, 175, 0.92);
    fill: rgba(175, 175, 175, 0.92);
    position: absolute;
    left: 10%;
    top: 18%;
}

main .user_input .values {
    position: relative;
    top: 10%;
}

main .user_input .form {
    position: absolute;
    top: 18%;
    left: 40%;
    width: 500px;
    height: 350px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    background: rgba(25, 25, 25, 0.83);
    border-radius: 20px 20px 20px 20px;
}

main .user_input .Y_value {
    margin: 4%;
    position: relative;
    top: 10%;
    left: 26%;
}

main .user_input .Y_value #Y_value {
    width: 145px;
}

main .user_input .X_value {
    margin: 4%;
    position: relative;
    top: 10%;
    left: 26%;
}

main .user_input .X_value #X_value {
    width: 153px;
}

main .user_input .R_value {
    margin: 4%;
    position: relative;
    top: 10%;
    left: 26%;
}

main .user_input .R_value #R_value {
    width: 153px;
}

main .user_input .Error_text {
    margin: 15px;
    position: relative;
    top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: red;
    font-size: 20px;
}

main .user_input .Error_text span {
    margin: 4px;
}

main .user_input .buttons {
    position: absolute;
    left: 20%;
    top: 80%;
}

main .user_input .buttons #submit {
    color: whitesmoke;
    background: rgba(49, 49, 49, 0.83);
    width: 150px;
    height: 30px;
}

main .user_input .buttons #reset {
    color: whitesmoke;
    background: rgba(49, 49, 49, 0.83);
    width: 150px;
    height: 30px;
}