main .table_section {
    position: relative;
    left: 100px;
    bottom: 250px;
}

main .table_section #cleaner {
    position: relative;
    margin: 20px;
    left: 430px;
}

main .table_section #cleaner button {
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.83);
    width: 175px;
    height: 40px;
}

main .table_section #cleaner button:hover {
    box-shadow: 0 0 10px 5px navajowhite;
}

main .table_section #cleaner button:active {
    box-shadow: 0 0 10px 5px #f41c52;
}

main .table_section #table {
    position: relative;
    top: 20px;
    width: 1100px;
    border: 1px solid black;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    transition: 0.5s;
}

main .table_section #table:hover {
    box-shadow: 0 0 40px 5px #f41c52;
}

#table tr:first-of-type {
    background: rgba(0, 0, 0, 0.83);
}

#table tr:nth-child(odd) {
    background: rgb(29, 29, 29);
}

#table td, th {
    padding: 3px;
}